<a href="https://colab.research.google.com/github/zaitsevam/git2/blob/main/Copy_of_Chapter_01_Getting_Started_with_Data_Analysis_Installation_and_Loading_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# RUN THIS COMMAND ONLY IF YOU USE GOOGLE COLAB.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# RUN THIS COMMAND ONLY IF YOU USE GOOGLE COLAB.
%cd drive/MyDrive/TechLabs/02_Data\ Manipulation/Part\ C\ -\ Pandas

/content/drive/MyDrive/TechLabs/02_Data Manipulation/Part C - Pandas

In [4]:
# This is the convention used to import Pandas.
import pandas as pd

In [5]:
# These commands load the same survey data Corey is using in his video.
df = pd.read_csv("data/sdg_11_60_page_linear.csv")
schema_df = pd.read_csv("data/sdg_11_60_page_linear.csv")

In [8]:
df1=df
df1.head()

,DATAFLOW,LAST UPDATE,freq,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AL,2020,18.1,NaN
1,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AL,2021,18.7,NaN
2,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AT,2000,63.4,NaN
3,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AT,2001,64.3,e
4,ESTAT:SDG_11_60(1.0),13/01/23 23:00:00,A,PC,AT,2002,62.5,e

In [9]:
df1.drop("DATAFLOW", inplace=True, axis=1)
df1.head()

         LAST UPDATE freq unit geo  TIME_PERIOD  OBS_VALUE OBS_FLAG
0  13/01/23 23:00:00    A   PC  AL         2020       18.1      NaN
1  13/01/23 23:00:00    A   PC  AL         2021       18.7      NaN
2  13/01/23 23:00:00    A   PC  AT         2000       63.4      NaN
3  13/01/23 23:00:00    A   PC  AT         2001       64.3        e
4  13/01/23 23:00:00    A   PC  AT         2002       62.5        e

In [11]:
df1.drop("LAST UPDATE", inplace=True, axis=1)
df1.drop("freq", inplace=True, axis=1)
df1.head()

  unit geo  TIME_PERIOD  OBS_VALUE OBS_FLAG
0   PC  AL         2020       18.1      NaN
1   PC  AL         2021       18.7      NaN
2   PC  AT         2000       63.4      NaN
3   PC  AT         2001       64.3        e
4   PC  AT         2002       62.5        e